<a href="https://colab.research.google.com/github/magotronico/DataAnalysis_and_AI/blob/main/data_science_practice/Ejercicios_Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicios con Pandas

In [2]:
import pandas as pd

1. Escribe un programa Pandas para sumar, restar, multiplicar y dividir dos Series Pandas.

Serie de muestra: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [3]:
# Define Series
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9]) # Si no son del mismo tamaño, simplemente se suma 0 a los indices extras

# Addition
res = s1 + s2
print("Addition:")
print(res)

# Substraction
res = s1 - s2
print("Substraction:")
print(res)

# Multiplication
res = s1 * s2
print("Multiplication:")
print(res)

# Division
res = s1 / s2
print("Division:")
print(res)

Addition:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Substraction:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

2. Escriba un programa de Pandas para comparar los elementos de las dos series de Pandas.

Serie de muestra: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [4]:
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 10])

# Equals
print("Equals:")
res = s1 == s2
print(res)

# Greater than
print("Greater than:")
res = s1 > s2
print(res)

# Less than
print("Less than:")
res = s1 < s2
print(res)

Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

3. Escriba un programa Pandas para ordenar una serie determinada.

In [5]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
res = s.sort_values()
print(res)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

4. Escriba un programa Pandas para agregar algunos datos a una serie existente.

In [6]:
pd.concat([s, pd.Series([500, "php"])], ignore_index=True)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

5. Escriba un programa Pandas para cambiar el orden del índice de una serie dada

In [7]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
s = s.reindex(['z','C','b','h','a'], fill_value=0)
print(s)

z    0
C    3
b    0
h    0
a    0
dtype: int64

6. Escriba un programa Pandas para crear la media y la desviación estándar de los datos de una serie dada.

In [8]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])

In [9]:
avg = s.mean()
print(avg)
std = s.std()
print(std)

4.818181818181818
2.522624895547565

7. Escriba un programa Pandas para obtener los elementos de una serie determinada que no están presentes en otra serie determinada

In [10]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])

In [11]:
res = sr1[sr1.isin(sr2)]
print(res)

1    2
3    4
dtype: int64

8. Escriba un programa Pandas para obtener los elementos que no son comunes de dos series dadas

In [12]:
res = sr1[~sr1.isin(sr2)]
print(res)

0    1
2    3
4    5
dtype: int64

9. Escriba un programa Pandas para calcular los conteos de frecuencia de cada valor único de una serie dada.

In [13]:
import numpy as np

sA = pd.Series(np.take(list('0123456789'),np.random.randint(10,size=40)))
counts = sA.value_counts()
print(counts)

1    7
5    5
0    5
6    4
9    4
4    4
2    4
8    3
3    2
7    2
Name: count, dtype: int64

10. Escriba un programa Pandas para mostrar el valor más frecuente en una serie dada y reemplace todo lo demás como 'Otro' en la serie.

In [14]:
sA = pd.Series(np.random.randint(1,5,[15]))
sA[~sA.isin(sA.value_counts().index[:1])] = None
print(sA)

0     3.0
1     NaN
2     NaN
3     3.0
4     3.0
5     NaN
6     NaN
7     3.0
8     3.0
9     3.0
10    NaN
11    NaN
12    NaN
13    3.0
14    NaN
dtype: float64

11. Escriba un programa Pandas para extraer elementos en posiciones dadas de una serie dada

In [15]:
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]

In [16]:
res = num_series.take(element_pos)
print(res)

0     2
2     9
6     8
11    0
21    3
dtype: object

12. Escriba un programa Pandas que convierta el primer y último carácter de cada palabra a mayúsculas en cada palabra de una serie dada.

In [17]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])

In [18]:
series1 = series1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print(series1)

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

13. Escriba un programa Pandas para convertir una serie de cadenas de fecha en una serie time.

In [25]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])

print(pd.to_datetime(date_series, format='mixed'))

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

14. Escriba un programa Pandas para obtener el día del mes, el día del año, el número de semana y el día de la semana de una serie dada de cadenas de fechas.

In [31]:
from dateutil.parser import parse

data_series = date_series.map(lambda x: parse(x))
print("Day of month:")
print(data_series.dt.day.tolist())
print("Day of year:")
print(data_series.dt.dayofyear.tolist())

Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]

15. Escriba un programa Pandas para filtrar palabras de una serie determinada que contengan al menos dos vocales.

In [34]:
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])

from collections import Counter
print("Original Series:")
print(color_series)
print("\nFiltered words:")
result = color_series.map(lambda x: sum(Counter(x.lower()).get(i, 0) for i in list('aeiou')) >= 2)
print(color_series[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

16. Escriba un programa Pandas para seleccionar las filas en las que la puntuación está entre 15 y 20

In [50]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [51]:
df = pd.DataFrame(exam_data, index=labels)
print("Rows where score betqween 15 and 20 (inclusive):")
print(df[df['score'].between(15, 20)])

Rows where score betqween 15 and 20 (inclusive):
        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

17. Escriba un programa Pandas para ordenar el DataFrame primero por 'nombre' en orden descendente, luego por 'puntuación' en orden ascendente.

In [52]:
df = df.sort_values(by=['name', 'score'], ascending=[False, True])
print("Sort by 'name' indescending order, then by 'score in ascending order':")
print(df)

Sort by 'name' indescending order, then by 'score in ascending order':
        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

18. Escriba un programa Pandas para reemplazar la columna 'qualify' que contiene los valores 'yes' y 'no' con True y False.

In [53]:
df['qualify'] = df['qualify'].map({'yes': True, 'no': False})
print(df)

        name  score  attempts  qualify
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
c  Katherine   16.5         2     True
j      Jonas   19.0         1     True
d      James    NaN         3    False
e      Emily    9.0         2    False
b       Dima    9.0         3    False
a  Anastasia   12.5         1     True

19. Escriba un programa Pandas para cambiar el nombre de las columnas de un DataFrame dado

In [55]:
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)

In [56]:
df.columns = ['Column1', 'Column2', 'Column3']
df = df.rename(columns={'col1': 'Column1', 'col2': 'Column2', 'col3': 'Column3'})
print("New DataFrame after renaming columns: ")
print(df)

New DataFrame after renaming columns:
   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

20. Escriba un programa Pandas para cambiar el orden de las columnas de un DataFrame.

In [59]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)

In [62]:
df = df[['col3', 'col2', 'col1']]
# df.insert(0, 'col1', df.pop('col1'))
print(df)

   col3  col2  col1
0     7     4     1
1     8     5     4
2     9     6     3
3     0     7     4
4     1     8     5

21. Escriba un programa Pandas para escribir un DataFrame en un archivo CSV usando un separador \t

In [63]:
df.to_csv('df.csv', sep='\t', index=False)

22. Escriba un programa de Pandas para reemplazar todos los valores de NaN con cero en una columna de un DataFrame.

In [82]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)

In [83]:
df.fillna(0, inplace=True)
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    0.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    0.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

23. Escriba un programa Pandas para invertir el orden (filas, columnas) de un DataFrame dado.

In [84]:
df = pd.DataFrame({'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]})

In [85]:
print("\nRevertir orden de columnas:")
print(df.loc[:, ::-1])
print("\nRevertir orden de filas:")
print(df.loc[::-1])
print("\nRevertir orden de filas y reiniciar index:")
print(df.loc[::-1].reset_index(drop=True))

Revertir orden de columnas:
    Z   Y   X   W
0  86  84  78  68
1  97  94  85  75
2  96  89  96  86
3  72  83  80  80
4  83  86  86  66

Revertir orden de filas:
    W   X   Y   Z
4  66  86  86  83
3  80  80  83  72
2  86  96  89  96
1  75  85  94  97
0  68  78  84  86

Revertir orden de filas y reiniciar index:
    W   X   Y   Z
0  66  86  86  83
1  80  80  83  72
2  86  96  89  96
3  75  85  94  97
4  68  78  84  86

24. Escriba un programa Pandas para crear DataFrames que contengan valores aleatorios, valores faltantes, valores de fecha y hora y valores mixtos.

In [95]:
df1 = pd._testing.makeDataFrame()
print(df1)

# print("\nDataFrame: Contains missing values:")
# df2 = pd._testing.makeMissingDataframe()
# print(df2)

# print("\nDataFrame: Contains datetime values:")
# df3 = pd._testing.makeTimeDataFrame()
# print(df3)

# print("\nDataFrame: Contains mixed values:")
# df4 = pd._testing.makeMixedDataFrame()
# print(df4)

                   A         B         C         D
ZqgszYBfuL  0.125730  0.345584  0.189053  2.040919
YT9l2dIrmO -0.132105  0.821618 -0.522748 -2.555665
sIqjUAQP6A  0.640423  0.330437 -0.413064  0.418099
nN571Qxycl  0.104900 -1.303157 -2.441467 -0.567770
uvJFQ32W8t -0.535669  0.905356  1.799707 -0.452649
45nDJRRgDg  0.361595  0.446375  1.144166 -0.215597
7mB2GQE0KN  1.304000 -0.536953 -0.325423 -2.019986
CzKGWKD1nB  0.947081  0.581118  0.773807 -0.231932
E3BMeZBEfQ -0.703735  0.364572  0.281211 -0.865213
NvVGdnqgFc -1.265421  0.294132 -0.553823  3.323000
GRJCq3tZBx -0.623274  0.028422  0.977567  0.225787
Q8WKgVWzwm  0.041326  0.546713 -0.310557 -0.352631
8kElWLjgfb -2.325031 -0.736454 -0.328824 -0.281287
1ZxgrBHEMM -0.218792 -0.162910 -0.792147 -0.668046
MFB6YUdJ2M -1.245911 -0.482119  0.454958 -1.055151
lFI7IogQ9I -0.732267  0.598846 -0.099198 -0.390801
fcWsD5pWfa -0.544259  0.039722  0.545289  0.481945
csDaLZFgZd -0.316300 -0.292457 -0.607186 -0.238554
F8wBptodTy  0.411631 -0.781908  0.126828  0.957759
9wWGMa1j7n  1.042513 -0.257192 -0.892274 -0.199802
VBVspMarP4 -0.128535  0.008142  0.841465  0.024260
C7rdQm8I7V  1.366463 -0.275603  0.188035  1.545821
Qd0lfCgP84 -0.665195  1.294064  0.330571  0.545106
51pXpdV8YM  0.351510  1.006724  0.410504 -0.505229
7fgpeMcxFB  0.903470 -2.711162 -1.010758 -0.182839
KX3ZUHKXDz  0.094012 -1.889013  0.783181  0.540525
Z8xLc7Ycx2 -0.743499 -0.174772  2.056703  1.935088
NIhSMlDIIr -0.921725 -0.422190 -1.638443 -0.269620
FgKab4ZPDm -0.457726  0.213643 -1.729411 -0.243559
AplCGYHhh8  0.220195  0.217322 -1.504831  1.002314

25. Escribir en Pandas un programa para modificar el indexado de un DataFrame

In [111]:
Students = pd.DataFrame({'Admission_id': ['AB101', 'AB102', 'AB103',
                                          'AB104', 'AB105'],
                         'Student_id': ['21GFG1', '21GFG2', '21GFG3',
                                        '21GFG4', '21GFG5'],
                         'Student_Name': ['Akhil', 'Mahesh Babu', 'Warner',
                                          'Virat', 'ABD'],
                         'Height': [5.9, 6.2, 5.6, 5.8, 5.10]})

In [112]:
Students.set_index('Student_id', inplace=True)
print(Students)

           Admission_id Student_Name  Height
Student_id
21GFG1            AB101        Akhil     5.9
21GFG2            AB102  Mahesh Babu     6.2
21GFG3            AB103       Warner     5.6
21GFG4            AB104        Virat     5.8
21GFG5            AB105          ABD     5.1

In [115]:
print(Students.loc['21GFG2'], isinstance(Students.loc['21GFG2'], pd.Series))

Admission_id          AB102
Student_Name    Mahesh Babu
Height                  6.2
Name: 21GFG2, dtype: object True