# Laboratorio con Altair

In [ ]:
#   __  __                   _                   _           
#  |  \/  |                 | |                 (_)          
#  | \  / | __ _  __ _  ___ | |_ _ __ ___  _ __  _  ___ ___  
#  | |\/| |/ _` |/ _` |/ _ \| __| '__/ _ \| '_ \| |/ __/ _ \ 
#  | |  | | (_| | (_| | (_) | |_| | | (_) | | | | | (_| (_) |
#  |_|  |_|\__,_|\__, |\___/ \__|_|  \___/|_| |_|_|\___\___/ 
#                 __/ |                                      
#                |___/                                       
# ─────────────────────────────────────────────────────────────────────────────
#                                                                           
# Script Name : Act2.ipynb
# Author      : Dilan Castañeda                                             
# Created On  : December 8, 2024                                           
# Last Update : December 8, 2024                                         
# Version     : 1.0.0                                          
# Description : This notebook is to reproduce some plots from the final images.           
# ─────────────────────────────────────────────────────────────────────────────

## Step 1: Env Setup

In [1]:
# Load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import altair as alt
from vega_datasets import data

In [ ]:
# Load data
df = data.cars()

# Show first rows
df.head()

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              406 non-null    object
 1   Miles_per_Gallon  398 non-null    float64
 2   Cylinders         406 non-null    int64
 3   Displacement      406 non-null    float64
 4   Horsepower        400 non-null    float64
 5   Weight_in_lbs     406 non-null    int64
 6   Acceleration      406 non-null    float64
 7   Year              406 non-null    datetime64[ns]
 8   Origin            406 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 28.7+ KB

## Step 2: Weight vs Acc

## Step 3: Gas consumption through the years

## Step 4: Horsepower range filter in real-time.

## Step 5: Car density for different combinatios

## Step 6: Compound Scatter plot

## Step 7: New classification