# CODIFICACION

CONTEXTO

¿Que tan satisfecho estas con el servicio de entrega?

<list>
    <li>Muy insatisfecho
<li>Insatisfecho
<li>Neutral
<li>Satisfecho
<li>Muy satisfecho
<br><br>
¿Como calificarias la calidad del producto entregado?
<list>
<li>Mala
<li>Buena
<li>Muy buena
<li>Excelente

In [5]:
import pandas as pd
import numpy as np

In [6]:
cat_serv = ["Muy insatisfecho","Insatisfecho","Neutral",
            "Satisfecho","Muy satisfecho"]

cat_prod = ["Mala","Buena","Muy buena","Excelente"]

encuesta = {'servicio' : ['Muy insatisfecho','Insatisfecho','Neutral',
                         'Satisfecho','Muy satisfecho','Muy insatisfecho'],
            'producto' : ['Mala','Buena','Muy buena','Excelente',
                          'Mala','Buena']}

# 0: esporadico 1:frecuente
tipo_cliente = [0,0,1,1,0,1]

In [7]:
pd.DataFrame(encuesta)

           servicio   producto
0  Muy insatisfecho       Mala
1      Insatisfecho      Buena
2           Neutral  Muy buena
3        Satisfecho  Excelente
4    Muy satisfecho       Mala
5  Muy insatisfecho      Buena

# ORDINALES

In [8]:
from sklearn.preprocessing import OrdinalEncoder

In [9]:
ordinales = pd.DataFrame(encuesta)
codificador = OrdinalEncoder(categories=[cat_serv,cat_prod])

In [10]:
ordinales = pd.DataFrame(codificador.fit_transform(ordinales),
                        columns=["servicio","producto"])

In [11]:
ordinales

   servicio  producto
0       0.0       0.0
1       1.0       1.0
2       2.0       2.0
3       3.0       3.0
4       4.0       0.0
5       0.0       1.0

# ONE HOT

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
oneHots = pd.DataFrame(encuesta)
codificador = OneHotEncoder()

In [14]:
oneHots = pd.DataFrame(codificador.fit_transform(oneHots).toarray(),
                      columns=np.concatenate(codificador.categories_))
oneHots

,Insatisfecho,Muy insatisfecho,Muy satisfecho,Neutral,Satisfecho,Buena,Excelente,Mala,Muy buena
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
5,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0