# Actividad de aprendizaje - Análisis de datos con Pandas [ individual ]
Name: Dilan González Castañeda | student_id: A00831905

This notebook aims to resolve a set of instructions in order to practice as part of an assigment.

To make this notebook professional, I will use PEP 8, PEP  484 and PEP 257.

*Note: This notebook was created in VS Code locally, so the paths should be change if you want to test it out of this notebook.*

## Cargar los datos

In [29]:
import pandas as pd # type: ignore
from pandas import DataFrame # type: ignore
from typing import Tuple

# Load the data
cities = pd.read_csv('world/CITY.csv')
countries = pd.read_csv('world/COUNTRY.csv')
languages = pd.read_csv('world/LANGUAGE.csv')

## Preprocesamiento de datos

### Valores Faltantes
Obtengan un resumen de los valores faltantes por columna

In [30]:
# Display the data
print("Cities information")
cities.info()
print("\nCountries information")
countries.info()
print("\nLanguages information")
languages.info()

Cities information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4079 entries, 0 to 4078
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           4079 non-null   int64
 1   Name         4079 non-null   object
 2   CountryCode  4079 non-null   object
 3   District     4075 non-null   object
 4   Population   4079 non-null   int64
dtypes: int64(2), object(3)
memory usage: 159.5+ KB

Countries information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Code            239 non-null    object
 1   Name            239 non-null    object
 2   Continent       239 non-null    object
 3   Region          239 non-null    object
 4   SurfaceArea     239 non-null    float64
 5   IndepYear       192 non-null    float64
 6   Population      239 non-null    int64
 7   LifeExpectancy  222 non-null    float64
 8   GNP             239 non-null    float64
 9   GNPOld          178 non-null    float64
 10  LocalName       239 non-null    object
 11  GovernmentForm  239 non-null    object
 12  Capital         232 non-null    float64
dtypes: float64(6), int64(1), object(6)
memory usage: 24.4+ KB

Languages information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  984 non-null    object
 1   Language     984 non-null    object
 2   IsOfficial   984 non-null    object
 3   Percentage   984 non-null    float64
dtypes: float64(1), object(3)
memory usage: 30.9+ KB

### Eliminar Valores NaN
Del dataframe country, eliminen los registros que tengan NaN en la columna Capital

In [31]:
countries = countries[~countries['Capital'].isnull()]

countries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 232 entries, 0 to 238
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Code            232 non-null    object
 1   Name            232 non-null    object
 2   Continent       232 non-null    object
 3   Region          232 non-null    object
 4   SurfaceArea     232 non-null    float64
 5   IndepYear       192 non-null    float64
 6   Population      232 non-null    int64
 7   LifeExpectancy  222 non-null    float64
 8   GNP             232 non-null    float64
 9   GNPOld          178 non-null    float64
 10  LocalName       232 non-null    object
 11  GovernmentForm  232 non-null    object
 12  Capital         232 non-null    float64
dtypes: float64(6), int64(1), object(6)
memory usage: 25.4+ KB

### Metodos de Imputacion

Para imputar los datos faltantes, primero señalaremos las columnas y los tipos de datos que faltan:
1. Cities:
    * 4 en 'District' -> str
2. Countries:
    * 40 en 'IndepYear' -> int
    * 10 en 'LifeExpectancy' -> float64
    * 54 en 'GNPOld' -> int
3. Language:
    * No hay faltantes

### Duplicados
Identifiquen si hay países repetidos en el dataframe countries, o ciudades y lenguas duplicadas para un mismo país.

In [32]:
countries.drop_duplicates(subset=['Name', 'Code'], inplace=True)
cities.drop_duplicates(subset=['Name'], inplace=True)
languages.drop_duplicates(subset=['CountryCode'], inplace=True)

### Join tables
Analicen las columnas de los tres dataframes que conforman el conjunto, para encontrar claves.

La columna en comun en los 3 csv son: 
1. CITY - CountryCode
2. COUNTRY - Code
3. LANGUAGE - "CountryCode"

Antes de unir las tablas, hay que modificar la columna de LANGUAGE porque todos los valores estan entre comillas dobles y debemos eliminarlas.

In [34]:
# Estandarizar la columna de LANGUAGE CountryCode
languages.rename(columns={'"CountryCode"': 'CountryCode'}, inplace=True)
countries.rename(columns={'Code': 'CountryCode'}, inplace=True)
languages['CountryCode'] = languages['CountryCode'].apply(lambda x: x.upper().replace('"', ''))

# Merge the data
# First, merge languages and countries on 'CountryCode'
merged_df = pd.merge(countries, cities, on='CountryCode')

# Then, merge the result with another_df on 'CountryCode'
merged_df = pd.merge(merged_df, languages, on='CountryCode')
merged_df.info()
merged_df.sample(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CountryCode     4001 non-null   object
 1   Name_x          4001 non-null   object
 2   Continent       4001 non-null   object
 3   Region          4001 non-null   object
 4   SurfaceArea     4001 non-null   float64
 5   IndepYear       3943 non-null   float64
 6   Population_x    4001 non-null   int64
 7   LifeExpectancy  3991 non-null   float64
 8   GNP             4001 non-null   float64
 9   GNPOld          3870 non-null   float64
 10  LocalName       4001 non-null   object
 11  GovernmentForm  4001 non-null   object
 12  Capital         4001 non-null   float64
 13  ID              4001 non-null   int64
 14  Name_y          4001 non-null   object
 15  District        3998 non-null   object
 16  Population_y    4001 non-null   int64
 17  Language        4001 non-null   object
 18  IsOfficial      4001 non-null   object
 19  Percentage      4001 non-null   float64
dtypes: float64(7), int64(3), object(10)
memory usage: 625.3+ KB

,CountryCode,Name_x,Continent,Region,SurfaceArea,IndepYear,Population_x,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,Capital,ID,Name_y,District,Population_y,Language,IsOfficial,Percentage
918,COL,Colombia,South America,South America,1138914.0,1810.0,42321000,70.3,102896.0,105116.0,Colombia,Republic,2257.0,2260,Barranquilla,Atlántico,1223260,Arawakan,F,0.1
891,CMR,Cameroon,Africa,Central Africa,475442.0,1960.0,15085000,54.8,9174.0,8596.0,Cameroun/Cameroon,Republic,1804.0,1807,Bamenda,Nord-Ouest,138000,Bamileke-bamum,F,18.6
412,BRA,Brazil,South America,South America,8547403.0,1822.0,170115000,62.9,776739.0,804108.0,Brasil,Federal Republic,211.0,428,Sertãozinho,São Paulo,98140,German,F,0.5

## ¿Cuál es la población total por continente?

## ¿Cuál es el promedio de la expectativa de vida por continente?

## ¿Cuál fue el primer país en independizarse por continente?

## ¿Cuántas ciudades hay por país en Europa Oriental?

## ¿Cuántas lenguas se hablan por región en Asia?

## ¿Cuál es la ciudad más poblada por región en África?