# Introduction to Python3 Programming Language

## Python as a simple calculator

The arithmetic operators defined in Python3 are:

In [1]:
# add
6 + 2

8

In [2]:
# Subtraction
5 - 3

2

In [3]:
# Power
2 ** 5

32

In [4]:
# Real division
4 / 2

2.0

In [5]:
5 / 3

1.6666666666666667

In [6]:
# Integer division
4 // 2

2

In [7]:
5 // 3

1

In [8]:
# Module
4 % 2

0

In [9]:
5%3

2

In [10]:
# Expresions
3 + 4 -5

2

In [11]:
4 + 5 * 3

19

In [12]:
# Note Python operators precedence

In [13]:
-10 * 3 + 5 ** 3

95

In [14]:
(4 + 5) * 3

27

In [15]:
-10 * (3 + 5) ** 3

-5120

In [10]:
# Error: Division by cero
4 / 0

ZeroDivisionError: division by zero

## Variables

In [17]:
# Area of a triangle
base = 20
height = 12
area = base * height / 2
area

120.0

In [18]:
# Name of variables
hello = 10
hello

10

In [19]:
_number = 2.5
_number

2.5

In [20]:
num2 = 2.777
num2

2.777

In [21]:
# wrong name of a variable
3_value = 2

SyntaxError: invalid decimal literal (<ipython-input-21-4a2b7262f27f>, line 2)

In [22]:
# A typical way to name a variable
time_secs = 15
time_secs

15

## Basic data types

In [23]:
# integer
intnum = 10
type(intnum)

int

In [24]:
# float
floatnum = 10.
type(floatnum)

float

In [25]:
# string
string = "Hello world!" 
type(string)

str

In [26]:
# complex
complexnum = 3+2j
type(complexnum)

complex

In [27]:
# list
listnumber = [2,3,4] 
type(listnumber)

list

In [28]:
# list
tuplenumbers = (2,3,4) 
type(listnumber)

list

In [30]:
# dictionary
dicnumber = {"one":1, "two":2}
type(dicnumber)

dict

In [31]:
# boolean
boolval = 3 > 2
type(boolval)

bool

## Strings

A string is a set of characters. In Python these strings are expressed in double quotes (") or apostrophes (').

In [11]:
'hello'

'hello'

In [12]:
sunny_day = 'Today is a sunny day!!'
sunny_day

'Today is a sunny day!!'

In [13]:
rainy_day = 'What bloody', awful weather!'
rainy_day

SyntaxError: invalid syntax (<ipython-input-13-85e680b7223e>, line 1)

In [14]:
rainy_day = 'What bloody\', awful weather!'
rainy_day

"What bloody', awful weather!"

In [15]:
rainy_day = "What bloody\', awful weather!"
rainy_day

"What bloody', awful weather!"

In [16]:
'awful ' + 'weather'

'awful weather'

In [17]:
puzzle_ini = 'I would like '
puzzle_next = 'a schnauzer dog'
puzzle_sign = '!!!'
puzzle_ini + puzzle_next + puzzle_sign

'I would like a schnauzer dog!!!'

In [43]:
'Hello ' * 5

'Hello Hello Hello Hello Hello '

In [44]:
'Hello World' +print("Hola") '!' * 3

SyntaxError: invalid syntax (<ipython-input-44-536249da7b1c>, line 1)

In [45]:
print("Hello")

Hello

In [46]:
print("Hello,", "what's up?")

Hello, what's up?

In [47]:
input("Type your name here: ")

Type your name here: laura

'laura'

In [48]:
name = input("Type your name here: ")
name

Type your name here: class

'class'

In [49]:
print ("Hello", name)

Hello class

In [50]:
'''hello'''

'hello'

In [52]:
print ('''Hello,
what's
up?
''')

Hello,
what's
up?

In [53]:
str1 = '''Hello,
what's
up?
'''
str1

"Hello,\nwhat's\nup?\n"

In [54]:
print('a\tb\tc')

a	b	c

In [55]:
print ('\\')

\

In [56]:
print("La \"calaca\", \'tilica\' y flaca")

La "calaca", 'tilica' y flaca

In [57]:
print("Six \"sleek\" swans swam \'swiftly\' southwards")

Six "sleek" swans swam 'swiftly' southwards

### String operators

In [58]:
solution = 'cat'
solution == 'cat'

True

In [59]:
solution != 'cat'

False

In [18]:
solution = 'dog'

In [61]:
solution != 'cat'

True

In [63]:
'aba' < 'ace'

True

In [64]:
'aba' > 'ace'

False

In [66]:
'a' <= 'a'

True

In [67]:
'A' <= 'B'

True

In [71]:
'a' < 'A'

False

In [72]:
'a' > 'A'

True

In [73]:
',' < '3'

True

In [74]:
's' == 3

False

In [75]:
's' <= 3

TypeError: '<=' not supported between instances of 'str' and 'int'

In [76]:
'cad' in 'abracadabra'

True

In [77]:
'c' in 'aeiou'

False

In [78]:
'zoo' in 'ooze'

False

In [79]:
'' in 'abc'

True

In [80]:
'' in ''

True

In [81]:
len('')

0

In [83]:
len("abracadabra")

11

In [84]:
len ('bab' + "alu" * 2)

9

In [86]:
s = 'Learn to program'
s[0]

'L'

In [87]:
s[2]

'a'

In [88]:
s[-1]

'm'

In [89]:
s[-2]

'a'

In [90]:
s[-3]

'r'

In [92]:
s[0:5] # string slicing

'Learn'

In [93]:
s[6:8]

'to'

In [94]:
s[9:16]

'program'

In [95]:
len(s)

16

In [96]:
s[9:len(s)]

'program'

In [97]:
s[9:]

'program'

In [98]:
s[:8]

'Learn to'

In [99]:
s[-15:-8]

'earn to'

In [100]:
s[6] = 'd' # error!!

TypeError: 'str' object does not support item assignment

In [101]:
s[:5] + 'ed' + s[5:]

'Learned to program'

In [102]:
s = s[:5] + 'ed' + s[5:]
s

'Learned to program'

### Methods of strings

In [103]:
scream_ice = "I scream, You scream, We all scream for Icecream!"
scream_ice.lower()

'i scream, you scream, we all scream for icecream!'

In [104]:
# Show methods of strings
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [105]:
help(str.lower)

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

In [106]:
help(str.count)

Help on method_descriptor:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [107]:
scream_ice.count('cream')

4

In [108]:
"computer".capitalize()

'Computer'

In [109]:
scream_ice.find('scr')

2

In [110]:
scream_ice.find('scr', 5)

14

In [111]:
scream_ice.find('zoo')

-1

In [112]:
scream_ice.rfind('scr's = "   I'm feeling spaced out.   ")

SyntaxError: invalid syntax (<ipython-input-112-6b86dcbe9ed4>, line 1)

In [113]:
s = "   I'm feeling spaced out.   "
s.lstrip()

"I'm feeling spaced out.   "

In [114]:
s.rstrip()

"   I'm feeling spaced out."

In [115]:
s.strip()

"I'm feeling spaced out."

In [116]:
s  # strings are inmutable objects

"   I'm feeling spaced out.   "

## Boolean

In [117]:
3 < 4

True

In [118]:
3 > 8

False

In [119]:
3.5 >= 3.4

True

In [120]:
7 == 7

True

In [121]:
x = 7
y = 8
x != y

True

In [122]:
grade = 80
grade >= 50

True

In [123]:
not (grade >= 50)

False

In [124]:
not not (grade >= 50)

True

In [125]:
grade2 = 70
(grade >= 50 ) and (grade2 >= 50)

True

In [126]:
grade = 80
grade2 = 40
(grade >= 50) and (grade2 >= 50)

False

In [127]:
grade = 70
grade2 = 80
(grade >= 50) or (grade2 >= 50)

True

In [128]:
grade = 40
(grade >= 50) or (grade2 >= 50)

True

In [129]:
grade = 80
grade2 = 40
(grade >= 50) or (grade2 >= 50)

True

In [130]:
grade = 80
grade2 = 90
not grade >=50 or grade2 >= 50

True

In [131]:
not (grade >=50 or grade2 >= 50)

False

In [132]:
(not grade >= 50) or grade2 >= 50

True

In [133]:
(4 != 4) or (2 > 3)

False

In [134]:
4 != 4 or 2 > 3

False

## Data type conversions

In [135]:
str(3)

'3'

In [136]:
three = str(3)
three

'3'

In [137]:
three * 10

'3333333333'

In [139]:
int (three * 3)

333

In [141]:
str(int(three * 3))

'333'

In [ ]:
str(4.65)

In [142]:
int(three)

3

In [ ]:
int ('465')

In [144]:
int(three)*10

30

In [145]:
float('465')

465.0

In [ ]:
int ('hola 3 veces') # error!

In [ ]:
input("Type the number of houses in the neighborhood:")

In [ ]:
num_houses_street = 3
num_houses_neigh = input("Type the number of houses in the neighborhood: ")

In [ ]:
num_houses_street >= num_houses_neigh # error!!

In [ ]:
num_houses_neigh = int(input("Type the number of houses in the neighborhood: "))

In [ ]:
num_houses_street >= num_houses_neigh