#  Guia de manejo de archivos en Pandas

Para el uso de esta guia se utilizan tres archivos adjuntos: "Churn.cvs", "Churn2.xlsx" y "example.json"

In [25]:
import pandas as pd

1. Leer un archivo CSV

In [26]:
tabla = pd.read_csv('Churn.csv')
tabla

,No.,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,7590-VHVEG,Female,0,Yes,No,1.0,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,39.65,No
1,2,5575-GNVDE,Male,0,No,No,34.0,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,2339.30,No
2,3,3668-QPYBK,Male,0,No,No,2.0,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,97.00,Yes
3,4,7795-CFOCW,Male,0,No,No,45.0,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1596.60,No
4,5,9237-HQITU,Female,0,No,No,2.0,Yes,NaN,NaN,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,181.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7039,6840-RESVB,Male,0,Yes,Yes,24.0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1712.70,No
7039,7040,2234-XADUH,Female,0,Yes,Yes,72.0,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,1723.95,No
7040,7041,4801-JZAZL,Female,0,Yes,Yes,11.0,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,697.25,No
7041,7042,8361-LTMKD,Male,1,Yes,No,4.0,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,116.95,Yes
7042,7043,3186-AJIEK,Male,0,No,No,66.0,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,1357.10,No

2. Leer un archivo de Excel

In [27]:
tabla = pd.read_excel('Churn2.xlsx')
tabla

    Unnamed: 0                                         Unnamed: 1
0          NaN                                       Introducción
1          NaN  La deserción, el abandono, el desgaste, la can...
2          NaN                                                NaN
3          NaN                                        Diccionario
4          NaN                            customerID: Customer ID
5          NaN                           gender: Customer gender
6          NaN  SeniorCitizen: Whether the customer is a senio...
7          NaN  Partner: Whether the customer has a partner or...
8          NaN  Dependents: Whether the customer has dependent...
9          NaN  tenure: Number of months the customer has stay...
10         NaN  PhoneService: Whether the customer has a phone...
11         NaN  MultipleLines: Whether the customer has multip...
12         NaN  InternetService: Customer’s internet service p...
13         NaN  OnlineSecurity: Whether the customer has onlin...
14         NaN  OnlineBackup: Whether the customer has online ...
15         NaN  DeviceProtection: Whether the customer has dev...
16         NaN  TechSupport: Whether the customer has tech sup...
17         NaN  StreamingTV: Whether the customer has streamin...
18         NaN  StreamingMovies: Whether the customer has stre...
19         NaN       Contract: The contract term of the customer
20         NaN  PaperlessBilling: Whether the customer has pap...
21         NaN      PaymentMethod: The customer’s payment method
22         NaN  MonthlyCharges: The amount charged to the cust...
23         NaN  TotalCharges: The total amount charged to the ...
24         NaN        Churn: Whether the customer churned or not

3. Leer una pagina en especial del un archivo Excel

In [28]:
tabla = pd.read_excel('Churn2.xlsx','Churn') #el segundo parametro es el nombre de la pagina
tabla

,No.,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,7590-VHVEG,Female,0,Yes,No,1.0,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,39.65,No
1,2,5575-GNVDE,Male,0,No,No,34.0,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,2339.30,No
2,3,3668-QPYBK,Male,0,No,No,2.0,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,97.00,Yes
3,4,7795-CFOCW,Male,0,No,No,45.0,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1596.60,No
4,5,9237-HQITU,Female,0,No,No,2.0,Yes,NaN,NaN,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,181.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7039,6840-RESVB,Male,0,Yes,Yes,24.0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1712.70,No
7039,7040,2234-XADUH,Female,0,Yes,Yes,72.0,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,1723.95,No
7040,7041,4801-JZAZL,Female,0,Yes,Yes,11.0,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,697.25,No
7041,7042,8361-LTMKD,Male,1,Yes,No,4.0,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,116.95,Yes
7042,7043,3186-AJIEK,Male,0,No,No,66.0,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,1357.10,No

4. Descartar el indizado del archivo Excel

In [29]:
tabla = pd.read_excel('Churn2.xlsx','Churn',index_col=0)
tabla

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
No.,,,,,,,,,,,,,,,,,,,,,
1,7590-VHVEG,Female,0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,39.65,No
2,5575-GNVDE,Male,0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,2339.30,No
3,3668-QPYBK,Male,0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,97.00,Yes
4,7795-CFOCW,Male,0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1596.60,No
5,9237-HQITU,Female,0,No,No,2.0,Yes,NaN,NaN,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,181.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039,6840-RESVB,Male,0,Yes,Yes,24.0,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1712.70,No
7040,2234-XADUH,Female,0,Yes,Yes,72.0,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,1723.95,No
7041,4801-JZAZL,Female,0,Yes,Yes,11.0,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,697.25,No
7042,8361-LTMKD,Male,1,Yes,No,4.0,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,116.95,Yes
7043,3186-AJIEK,Male,0,No,No,66.0,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,1357.10,No

5. Usar solo ciertas columnas del Excel en un rango

In [30]:
tabla = pd.read_excel('Churn2.xlsx','Churn',index_col=0, usecols="B:F")#solo se mostraran las columnas de la B a la F en la pagina Churn
tabla

            gender  SeniorCitizen Partner Dependents
customerID
7590-VHVEG  Female              0     Yes         No
5575-GNVDE    Male              0      No         No
3668-QPYBK    Male              0      No         No
7795-CFOCW    Male              0      No         No
9237-HQITU  Female              0      No         No
...            ...            ...     ...        ...
6840-RESVB    Male              0     Yes        Yes
2234-XADUH  Female              0     Yes        Yes
4801-JZAZL  Female              0     Yes        Yes
8361-LTMKD    Male              1     Yes         No
3186-AJIEK    Male              0      No         No

[7043 rows x 4 columns]

6. Usar solo ciertas columnas del Excel por su nombre

In [31]:
tabla = pd.read_excel('Churn2.xlsx', 'Churn', index_col=0, usecols=["customerID", "tenure", "Churn"])
tabla

            tenure Churn
customerID
7590-VHVEG     1.0    No
5575-GNVDE    34.0    No
3668-QPYBK     2.0   Yes
7795-CFOCW    45.0    No
9237-HQITU     2.0   Yes
...            ...   ...
6840-RESVB    24.0    No
2234-XADUH    72.0    No
4801-JZAZL    11.0    No
8361-LTMKD     4.0   Yes
3186-AJIEK    66.0    No

[7043 rows x 2 columns]

7. Leer un documento JSON

In [32]:
tabla = pd.read_json('example.json')
tabla

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

8. Hacer un conteo de valores

In [33]:
tabla.value_counts()

Duration  Pulse  Maxpulse  Calories
45        90     112       180.1       2
60        111    151       368.5       2
          109    153       387.6       2
          102    127       300.5       2
          100    120       300.0       2
                                      ..
180       101    127       600.1       1
210       108    160       1376.0      1
          137    184       1860.4      1
270       100    131       1729.0      1
300       108    143       1500.2      1
Name: count, Length: 158, dtype: int64

9. Detectar valores unicos en la tabla e indicarlos por columnas

In [34]:
tabla.nunique()

Duration     16
Pulse        47
Maxpulse     57
Calories    145
dtype: int64

10. Suma de todos los valores unicos de una tabla

In [35]:
tabla.nunique().sum()

np.int64(265)

11. Calcular la media por cada columna

In [36]:
tabla.mean(axis="index")

Duration     63.846154
Pulse       107.461538
Maxpulse    134.047337
Calories    375.800000
dtype: float64

12. Calcular la media por cada fila

In [37]:
tabla.mean(axis="columns")

0      177.275
1      200.250
2      159.500
3      152.850
4      179.000
        ...
164    148.950
165    153.850
166    157.550
167    166.350
168    170.100
Length: 169, dtype: float64

13. Calcular la media de alguna columna en particular

In [38]:
tabla['Pulse'].mean()

np.float64(107.46153846153847)

14. Detectar el valor minimo de una columna

In [39]:
tabla['Pulse'].min()

np.int64(80)

15. Detectar el valor maximo de una columna

In [40]:
tabla['Pulse'].max()

np.int64(159)

16. Detectar los minimos y maximos de toda la tabla

In [41]:
print("Minimos:")
print(tabla.min())
print("Maximos:")
print(tabla.max())

Minimos:
Duration     15.0
Pulse        80.0
Maxpulse    100.0
Calories     50.3
dtype: float64
Maximos:
Duration     300.0
Pulse        159.0
Maxpulse     184.0
Calories    1860.4
dtype: float64

17. Detectar valores condicionados. Por ejemplo: Todos las calorias menores a 1000

In [42]:
tabla.loc[tabla['Calories']<1000]

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[157 rows x 4 columns]