<a href="https://colab.research.google.com/github/magotronico/DataAnalysis_and_AI/blob/main/dmx_challenge/dmx_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DmX Challenge: Company Policies to Maximize Branch Income
#### **Overview**

This notebook is designed to analyze the efficiency of each branch and its associated salesmen using the data provided by DmX. The primary goal of this analysis is to extract valuable insights that can help in assessing and improving operational performance across different branches.

#### **Process**

This project involves implementing an **ETL (Extract, Transform, Load) pipeline**. The pipeline is responsible for:

1.   **Extracting** the raw data from CSV files.
2.   **Transforming** the data into a structured and insightful format.
3.   **Loading** the processed data back into CSV files for further analysis or reporting.

By the end of this notebook, you'll have a clear understanding of how each branch and salesman perform, allowing for data-driven decision-making to enhance overall efficiency.



---
Instituto Tecnológico y de Estudios Superiores de Monterrey

Analítica de datos y herramientas de inteligencia artificial TI3001C.103

Profesor: Enrique Ricardo García Hernández

Equipo 2:
*   Dilan González Castañeda A00831905
*   List item

## Extract
DmX provided a .xlsx with relevant information as:


*   List item
*   List item


The structure in the file does not provide an easy way to use it with python and pandas, so we had to convert the .xsls to csv.

In [1]:
%pip install unidecode
%pip install matplotlib

Requirement already satisfied: unidecode in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (1.3.8)
Note: you may need to restart the kernel to use updated packages.

Could not find platform independent libraries <prefix>

Requirement already satisfied: matplotlib in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.20 in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (from matplotlib) (2.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\dilan\documents\github\dataanalysis_and_ai\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Could not find platform independent libraries <prefix>

In [ ]:
import pandas as pd
from unidecode import unidecode
import matplotlib.pyplot as plt

file_name = 'Indicadores_reto_AD24.csv'

In [ ]:
df = pd.read_csv(file_name, encoding='utf-8')
df.head(3)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10322 entries, 0 to 10321
Columns: 181 entries, Región to Quitas Actual
dtypes: float64(167), object(14)
memory usage: 14.3+ MB

## Transform
Before hand, in excel we have to **pre-process** the information to declare all money and porcentage **values as float** (2 and 4 decimals). That would be the only change done manually so we can save the .xlsx as .csv and now start using this pipeline.


Once the data is loaded into the environment, we need to perform several transformations to ensure it is structured and easily manageable:

- **Drop Empty Column**: Remove any column that contains no data to clean up the dataset.

- **Split Región Column**: The `Región` column was combined for Excel interface efficiency. We will split it into three separate columns: `Region`, `Division`, and `Sucursal`.

- **Merge Branches**: Consolidate branch names by merging those with " BIS" into their primary counterparts. For example, `Plaza Rivera BIS` will be merged into `Plaza Rivera`.

- **Normalize Text**: Remove the character "ñ" and any accent marks from all location, division, and region names to standardize the data.

### Drop empy column, normalize text

In [ ]:
df.drop(columns=['Unnamed: 2'], inplace=True)
print([col for col in df.columns])
df.rename(columns={'Región': 'sucursal'}, inplace=True)
df['sucursal'] = df['sucursal'].apply(unidecode)
df.head()

['Región', 'Vendedor', 'Saldo Insoluto T-12', 'Saldo Insoluto T-11', 'Saldo Insoluto T-10', 'Saldo Insoluto T-09', 'Saldo Insoluto T-08', 'Saldo Insoluto T-07', 'Saldo Insoluto T-06', 'Saldo Insoluto T-05', 'Saldo Insoluto T-04', 'Saldo Insoluto T-03', 'Saldo Insoluto T-02', 'Saldo Insoluto T-1', 'Saldo Insoluto Actual', 'Saldo Insoluto Vencido T-12', 'Saldo Insoluto Vencido T-11', 'Saldo Insoluto Vencido T-10', 'Saldo Insoluto Vencido T-09', 'Saldo Insoluto Vencido T-08', 'Saldo Insoluto Vencido T-07', 'Saldo Insoluto Vencido T-06', 'Saldo Insoluto Vencido T-05', 'Saldo Insoluto Vencido T-04', 'Saldo Insoluto Vencido T-03', 'Saldo Insoluto Vencido T-02', 'Saldo Insoluto Vencido T-01', 'Saldo Insoluto Vencido Actual', 'Saldo Insoluto \n30-89  T-12', 'Saldo Insoluto \n30-89  T-11', 'Saldo Insoluto \n30-89  T-10', 'Saldo Insoluto \n30-89  T-09', 'Saldo Insoluto \n30-89  T-08', 'Saldo Insoluto \n30-89  T-07', 'Saldo Insoluto \n30-89  T-06', 'Saldo Insoluto \n30-89  T-05', 'Saldo Insoluto \n30-89  T-04', 'Saldo Insoluto \n30-89  T-03', 'Saldo Insoluto \n30-89  T-02', 'Saldo Insoluto \n30-89  T-01', 'Saldo Insoluto \n30-89  Actual', 'Saldo \n60 en 6  T-12', 'Saldo \n60 en 6  T-11', 'Saldo \n60 en 6  T-10', 'Saldo \n60 en 6  T-09', 'Saldo \n60 en 6  T-08', 'Saldo \n60 en 6  T-07', 'Saldo \n60 en 6  T-06', 'Saldo \n60 en 6  T-05', 'Saldo \n60 en 6  T-04', 'Saldo \n60 en 6  T-03', 'Saldo \n60 en 6  T-02', 'Saldo \n60 en 6  T-01', 'Saldo \n60 en 6  Actual', 'Castigos ago-22', 'Castigos sep-22', 'Castigos oct-22', 'Castigos nov-22', 'Castigos dic-22', 'Castigos ene-23', 'Castigos feb-23', 'Castigos mar-23', 'Castigos abr-23', 'Castigos may-23', 'Castigos jun-23', 'Castigos T-12', 'Castigos T-11', 'Castigos T-10', 'Castigos T-09', 'Castigos T-08', 'Castigos T-07', 'Castigos T-06', 'Castigos T-05', 'Castigos T-04', 'Castigos T-03', 'Castigos T-02', 'Castigos T-01', 'Castigos Actual', 'Capital Liquidado T-12', 'Capital Liquidado T-11', 'Capital Liquidado T-10', 'Capital Liquidado T-09', 'Capital Liquidado T-08', 'Capital Liquidado T-07', 'Capital Liquidado T-06', 'Capital Liquidado T-05', 'Capital Liquidado T-04', 'Capital Liquidado T-03', 'Capital Liquidado T-02', 'Capital Liquidado T-01', 'Capital Liquidado Actual', 'Pago Anticipado T-12', 'Pago Anticipado T-11', 'Pago Anticipado T-10', 'Pago Anticipado T-09', 'Pago Anticipado T-08', 'Pago Anticipado T-07', 'Pago Anticipado T-06', 'Pago Anticipado T-05', 'Pago Anticipado T-04', 'Pago Anticipado T-03', 'Pago Anticipado T-02', 'Pago Anticipado T-01', 'Pago Anticipado Actual', 'Capital Dispersado T-12', 'Capital Dispersado T-11', 'Capital Dispersado T-10', 'Capital Dispersado T-09', 'Capital Dispersado T-08', 'Capital Dispersado T-07', 'Capital Dispersado T-06', 'Capital Dispersado T-05', 'Capital Dispersado T-04', 'Capital Dispersado T-03', 'Capital Dispersado T-02', 'Capital Dispersado T-01', 'Capital Dispersado Actual', '% FPD T-12', '% FPD T-11', '% FPD T-10', '% FPD T-09', '% FPD T-08', '% FPD T-07', '% FPD T-06', '% FPD T-05', '% FPD T-04', '% FPD T-03', '% FPD T-02', '% FPD T-01', '% FPD Actual', '% SPD T-12', '% SPD T-11', '% SPD T-10', '% SPD T-09', '% SPD T-08', '% SPD T-07', '% SPD T-06', '% SPD T-05', '% SPD T-04', '% SPD T-03', '% SPD T-02', '% SPD T-01', '% SPD Actual', '% TPD T-12', '% TPD T-11', '% TPD T-10', '% TPD T-09', '% TPD T-08', '% TPD T-07', '% TPD T-06', '% TPD T-05', '% TPD T-04', '% TPD T-03', '% TPD T-02', '% TPD T-01', '% TPD Actual', 'Quitas ago-22', 'Quitas sep-22', 'Quitas oct-22', 'Quitas nov-22', 'Quitas dic-22', 'Quitas ene-23', 'Quitas feb-23', 'Quitas mar-23', 'Quitas abr-23', 'Quitas may-23', 'Quitas jun-23', 'Quitas T-12', 'Quitas T-11', 'Quitas T-10', 'Quitas T-09', 'Quitas T-08', 'Quitas T-07', 'Quitas T-06', 'Quitas T-05', 'Quitas T-04', 'Quitas T-03', 'Quitas T-02', 'Quitas T-01', 'Quitas Actual']

,sucursal,Vendedor,Saldo Insoluto T-12,Saldo Insoluto T-11,Saldo Insoluto T-10,Saldo Insoluto T-09,Saldo Insoluto T-08,Saldo Insoluto T-07,Saldo Insoluto T-06,Saldo Insoluto T-05,...,Quitas T-09,Quitas T-08,Quitas T-07,Quitas T-06,Quitas T-05,Quitas T-04,Quitas T-03,Quitas T-02,Quitas T-01,Quitas Actual
0,Centro Metropolis,MAA_6289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1488.00,0.02
1,Centro Metropolis,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,1488.00,0.02
2,Conexion Magna,MAG_7191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.02,1913.46,-0.01
3,Conexion Magna,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.02,1913.46,-0.01
4,Enlace Regio,ALM_0607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2794.28,NaN,NaN

### Normalize columns

**Explanation:**
* **Lowercase and Underscores:** The lower() method converts all characters to lowercase, and replace() is used to replace spaces and special characters with underscores.

* **Acronyms:** Common phrases are replaced with shorter acronyms (e.g., saldo_insoluto becomes si, vencido becomes vnc, etc.).

* **Time Series Handling:** T-12, T-11, etc., are replaced with m_12, m_11, and so on, to indicate months.

---
**Example Column Renaming:**
* 'Región' → 'region'
* 'Saldo Insoluto T-12' → 'si_m_12'
* 'Saldo Insoluto Actual' → 'si_act'
* 'Pago Anticipado T-12' → 'pa_m_12'
* 'Castigos T-12' → 'cst_m_12'

In [ ]:
# Rename columns

# Define a function to rename columns
def rename_column(col):
    # Replace spaces and special characters
    col = col.lower().replace(' ', '_').replace('\n', '').replace('-', '_').replace('%', 'pct')

    # Create acronyms for common terms
    col = col.replace('saldo_insoluto', 'si')
    col = col.replace('vencido', 'vnc')
    col = col.replace('actual', 'act')
    col = col.replace('pago_anticipado', 'pa')
    col = col.replace('capital_liquidado', 'cl')
    col = col.replace('capital_dispersado', 'cd')
    col = col.replace('quitas', 'qts')
    col = col.replace('castigos', 'cst')

    # Handle time series (T-12, T-11,..., T-01, Actual)
    if '_t_' in col:
        col = col.replace('_t_', '_m_')

    col = col.replace('__', '_')
    return col


# Apply renaming function to all columns
df.columns = [rename_column(col) for col in df.columns]

# Print new column names
print([col for col in df.columns])

['sucursal', 'vendedor', 'si_m_12', 'si_m_11', 'si_m_10', 'si_m_09', 'si_m_08', 'si_m_07', 'si_m_06', 'si_m_05', 'si_m_04', 'si_m_03', 'si_m_02', 'si_m_1', 'si_act', 'si_vnc_m_12', 'si_vnc_m_11', 'si_vnc_m_10', 'si_vnc_m_09', 'si_vnc_m_08', 'si_vnc_m_07', 'si_vnc_m_06', 'si_vnc_m_05', 'si_vnc_m_04', 'si_vnc_m_03', 'si_vnc_m_02', 'si_vnc_m_01', 'si_vnc_act', 'si_30_89_m_12', 'si_30_89_m_11', 'si_30_89_m_10', 'si_30_89_m_09', 'si_30_89_m_08', 'si_30_89_m_07', 'si_30_89_m_06', 'si_30_89_m_05', 'si_30_89_m_04', 'si_30_89_m_03', 'si_30_89_m_02', 'si_30_89_m_01', 'si_30_89_act', 'saldo_60_en_6_m_12', 'saldo_60_en_6_m_11', 'saldo_60_en_6_m_10', 'saldo_60_en_6_m_09', 'saldo_60_en_6_m_08', 'saldo_60_en_6_m_07', 'saldo_60_en_6_m_06', 'saldo_60_en_6_m_05', 'saldo_60_en_6_m_04', 'saldo_60_en_6_m_03', 'saldo_60_en_6_m_02', 'saldo_60_en_6_m_01', 'saldo_60_en_6_act', 'cst_ago_22', 'cst_sep_22', 'cst_oct_22', 'cst_nov_22', 'cst_dic_22', 'cst_ene_23', 'cst_feb_23', 'cst_mar_23', 'cst_abr_23', 'cst_may_23', 'cst_jun_23', 'cst_m_12', 'cst_m_11', 'cst_m_10', 'cst_m_09', 'cst_m_08', 'cst_m_07', 'cst_m_06', 'cst_m_05', 'cst_m_04', 'cst_m_03', 'cst_m_02', 'cst_m_01', 'cst_act', 'cl_m_12', 'cl_m_11', 'cl_m_10', 'cl_m_09', 'cl_m_08', 'cl_m_07', 'cl_m_06', 'cl_m_05', 'cl_m_04', 'cl_m_03', 'cl_m_02', 'cl_m_01', 'cl_act', 'pa_m_12', 'pa_m_11', 'pa_m_10', 'pa_m_09', 'pa_m_08', 'pa_m_07', 'pa_m_06', 'pa_m_05', 'pa_m_04', 'pa_m_03', 'pa_m_02', 'pa_m_01', 'pa_act', 'cd_m_12', 'cd_m_11', 'cd_m_10', 'cd_m_09', 'cd_m_08', 'cd_m_07', 'cd_m_06', 'cd_m_05', 'cd_m_04', 'cd_m_03', 'cd_m_02', 'cd_m_01', 'cd_act', 'pct_fpd_m_12', 'pct_fpd_m_11', 'pct_fpd_m_10', 'pct_fpd_m_09', 'pct_fpd_m_08', 'pct_fpd_m_07', 'pct_fpd_m_06', 'pct_fpd_m_05', 'pct_fpd_m_04', 'pct_fpd_m_03', 'pct_fpd_m_02', 'pct_fpd_m_01', 'pct_fpd_act', 'pct_spd_m_12', 'pct_spd_m_11', 'pct_spd_m_10', 'pct_spd_m_09', 'pct_spd_m_08', 'pct_spd_m_07', 'pct_spd_m_06', 'pct_spd_m_05', 'pct_spd_m_04', 'pct_spd_m_03', 'pct_spd_m_02', 'pct_spd_m_01', 'pct_spd_act', 'pct_tpd_m_12', 'pct_tpd_m_11', 'pct_tpd_m_10', 'pct_tpd_m_09', 'pct_tpd_m_08', 'pct_tpd_m_07', 'pct_tpd_m_06', 'pct_tpd_m_05', 'pct_tpd_m_04', 'pct_tpd_m_03', 'pct_tpd_m_02', 'pct_tpd_m_01', 'pct_tpd_act', 'qts_ago_22', 'qts_sep_22', 'qts_oct_22', 'qts_nov_22', 'qts_dic_22', 'qts_ene_23', 'qts_feb_23', 'qts_mar_23', 'qts_abr_23', 'qts_may_23', 'qts_jun_23', 'qts_m_12', 'qts_m_11', 'qts_m_10', 'qts_m_09', 'qts_m_08', 'qts_m_07', 'qts_m_06', 'qts_m_05', 'qts_m_04', 'qts_m_03', 'qts_m_02', 'qts_m_01', 'qts_act']

### Aux to split region column

In [ ]:
regions = ["Brokers", "Nucleo Uno", "Nucleo Dos", "Red Nortena", "Red Noroeste", "Occidente Conexion", "Red Sureste"]

divisions = [
    "Division. Red Mexiquense", "Conexion Naucalpan", "Zona Sur Central",
    "Zona Oriente Valle", "Zona Norte Valle", "Division. Distrito Central",
    "Nucleo Avance", "Zona Nucleo CDMX", "Zona Oriente Conexion",
    "Zona Cordillera Puebla", "Zona Bahia Veracruz", "Division Red Nortena",
    "Zona Sierra Norte", "Zona Red frontera este", "Zona Bahia del Sol",
    "Division Sierra del Desierto", "Zona Costa del Pacifico",
    "Zona Valle Dorado", "Zona Desierto del Sol", "Conexion GDL",
    "Zona Corazon de la Sierra", "Zona Valles Centrales", "Zona Tierra de lagos", "Zona Cumbres del Pacifico", "Zona Valles del Pacifico", "Zona Selva Alta", "Zona Sierra Escondida", "Zona Riviera del Caribe"
]

branches = [
    "Centro Metropolis", "Conexion Magna", "Enlace Regio", "Puerto Magna",
    "Ciudad Piramide", "Valle Verde", "Rio Blanco", "Colina del Sol",
    "Colina del Sol BIS", "Parque Jurica", "Colina Plateada", "Altos de Queretaro", "Sol y Campo", "Satélite 1", "Satélite 2", "Satélite 3", "Bahia Dorada", "Costa Marquesa", "Bahia Dorada BIS", "Alto de Chilpan", "Cuautla Vista", "Jardines del Valle", "Llanos de Igualdad", "Parque Jojutla",
    "Valle Chalco", "Montana Azul", "Reyes Paz A", "Reyes Paz B",
    "Bosques Neza", "Cumbre Neza", "Cumbre Neza BIS", "Riberas Texcoco",
    "Pinar del Valle", "Cielos de Metepec", "Lomas de Naucalpan",
    "Puente de Tlalne", "Puente de Tlalne II", "Valles Toluca",
    "Cumbre Toluca", "Bosques Tultitlan", "Jardin Aragon A",
    "Pilares del Norte", "Pilares del Norte BIS", "Residencia A",
    "Residencia B", "Colinas GAM", "Plaza Central", "Los Arcos",
    "Los Arcos BIS", "Campo Zaragoza", "Lomas Zaragoza", "Campo Zaragoza BIS",
    "Avance 1", "Avance 2", "Avance 3", "Avance 4", "Parque Obregon",
    "Centro Viejo", "Mirador Tlalpan A", "Mirador Tlalpan A BIS",
    "Mirador Tlalpan B", "Lagunas de Xochimilco", "Plaza Zapata",
    "Robledal A", "Robledal B", "Campo Florido A", "Campo Florido B",
    "Campo Florido C", "Campo Florido D", "Riberas del Sur",
    "Sierra Cordobesa", "Valles de Orizaba", "Alturas de Puebla",
    "Jardines Manuel", "Lomas Santiago", "Alturas de Puebla BIS",
    "Llanos Tehuacan", "Bosques Tlaxcala", "Colinas Miron",
    "Valle Rica", "Puerto Bravo", "Puerta Cuauhtemoc", "Puerto Bravo BIS",
    "Cumbres Xalapa", "Lomas Xalapa", "Paso del Norte", "Rio Bravo",
    "Aceros del Norte", "Aceros del Norte BIS", "Paso Nuevo",
    "Paso Nuevo BIS", "Piedras Altas", "Piedras Altas BIS", "Valles del Norte",
    "Laguna Norte", "Sabinas Sierra", "Campos Saltillo", "Centro Saltillo",
    "Centro Saltillo BIS", "Campos Saltillo BIS", "Lomas de Alamos",
    "Lomas de Alamos BIS", "Valle Apodaca", "Valle Apodaca BIS",
    "Puente Lincoln", "Cumbres Regias", "Centro Regio", "Bulevar Regio",
    "San Nicolas Valle", "San Nicolas Valle BIS", "Sierra Santa",
    "Bosque Verde", "Palacio del Norte", "Palacio del Norte BIS",
    "Valle de Guadalupe", "Parque Madero", "Parque Madero BIS",
    "Expo Regia", "Desierto Norte", "Desierto Bravo", "Rio Revolucion",
    "Desierto Norte BIS", "Valle Real", "Victoria Alta", "Victoria Alta BIS",
    "Bahia Aeropuerto", "Plaza Tampico", "Colinas Tampico",
    "Colinas Tampico BIS", "Rio Madero", "Sierra Chihuahua",
    "Campus Sierra", "Victoria Sierra", "Victoria Sierra BIS",
    "Plaza Cuauhtemoc", "Juarez Norte", "Jardines del Norte",
    "Americas Plaza", "Americas Plaza BIS", "Patio Grande",
    "Colinas Jilotepec", "Parral Viejo", "Bahia Azul", "Bahia Azul BIS",
    "Plaza Pacifico", "Plaza Pacifico BIS", "Cabo Fuerte", "Valle Mexicali",
    "Norte Mexicali", "Valle Mexicali BIS", "Frontera Oeste",
    "Frontera Bravo", "Frontera Bravo BIS", "Valles de Culiacan",
    "Culiacan Norte", "Valles de Culiacan BIS", "Sierra Durango",
    "Durango Norte", "Valle del Rio", "Plaza Mochis", "Plaza Mochis BIS",
    "Norte Dorado", "Obregon Central", "Obregon Norte", "Obregon Central BIS",
    "Sierra Hermosillo", "Hermosillo Norte", "Sierra Hermosillo BIS",
    "Valle de Navojoa", "Frontera Nogales", "Guadalajara Uno",
    "Guadalajara Dos", "Guadalajara Tres", "Aguas Central",
    "Aguas Norte", "Aguas Central BIS", "Sierra Colima", "Rio Fresnillo",
    "Bahia Manzanillo", "San Luis Norte", "San Luis Alturas",
    "Cumbres Zacatecas", "Plaza Celaya", "Hidalgo Valle",
    "Jardines Irapuato", "Jardines Irapuato BIS", "Canadas Leon",
    "Norte Leon", "Canadas Leon BIS", "Valle Piedad", "Bahia Lazaro",
    "Colinas Morelia", "Morelia Norte", "Morelia Norte BIS",
    "Camelinas Plaza", "Jardines Uruapan", "Valle Zamora",
    "Valle Zamora BIS", "Riviera Zihua", "Montes Zitacuaro",
    "GDL Central", "Norte GDL", "Riviera Vallarta", "Riviera Vallarta BIS",
    "Valle Tepic", "Norte Tepic", "Jardines Tlaque", "Montes Tonala",
    "Guzman Valle", "IMSS GDL", "Oblatos Plaza", "Las Aguilas",
    "Zapopan Plaza", "Rio Coatzacoalcos", "Valle Comitan",
    "Selva Tapachula", "Tuxtla Norte", "Tuxtla Central", "Villa Central",
    "Villa Norte", "Villa Norte BIS", "Villa Alturas", "Sierra Oaxaca",
    "Riviera Escondida", "Bahia Cruz", "Bahia Cruz BIS", "Rio Tuxtepec",
    "Bahia Campeche", "Riviera Cancun", "Bahia Chetumal",
    "Isla del Carmen", "Sierra Merida", "Merida Norte", "Alturas Merida",
    "Sierra Merida BIS", "Riviera Playa"
]

for branch in branches:
  if 'BIS' in branch:
    branches.remove(branch)

print(len(branches), len(divisions), len(regions))

196 28 7

In [ ]:
loc_struct = {
    "Brokers": ["Centro Metropolis", "Conexion Magna", "Enlace Regio", "Puerto Magna"],
    "Nucleo Uno": {
        "Division. Red Mexiquense": ["Ciudad Piramide", "Valle Verde", "Rio Blanco", "Colina del Sol",
                                     "Colina del Sol BIS", "Parque Jurica", "Colina Plateada",
                                     "Altos de Queretaro", "Sol y Campo"],
        "Conexion Naucalpan": ["Satelite 1", "Satelite 2", "Satelite 3"],
        "Zona Sur Central": ["Bahia Dorada", "Costa Marquesa", "Bahia Dorada BIS", "Alto de Chilpan",
                             "Cuautla Vista", "Jardines del Valle", "Llanos de Igualdad", "Parque Jojutla"],
        "Zona Oriente Valle": ["Valle Chalco", "Montana Azul", "Reyes Paz A", "Reyes Paz B",
                               "Bosques Neza", "Cumbre Neza", "Cumbre Neza BIS", "Riberas Texcoco"],
        "Zona Norte Valle": ["Pinar del Valle", "Cielos de Metepec", "Lomas de Naucalpan",
                             "Puente de Tlalne", "Puente de Tlalne II", "Valles Toluca",
                             "Cumbre Toluca", "Bosques Tultitlan"]
    },
    "Nucleo Dos": {
        "Division. Distrito Central": ["Jardin Aragon A", "Pilares del Norte", "Pilares del Norte BIS",
                                       "Residencia A", "Residencia B", "Colinas GAM", "Plaza Central",
                                       "Los Arcos", "Los Arcos BIS", "Campo Zaragoza", "Lomas Zaragoza",
                                       "Campo Zaragoza BIS"],
        "Nucleo Avance": ["Avance 1", "Avance 2", "Avance 3", "Avance 4"],
        "Zona Nucleo CDMX": ["Parque Obregon", "Centro Viejo", "Mirador Tlalpan A", "Mirador Tlalpan A BIS",
                             "Mirador Tlalpan B", "Lagunas de Xochimilco", "Plaza Zapata"],
        "Zona Oriente Conexion": ["Robledal A", "Robledal B", "Campo Florido A",
                                  "Campo Florido B", "Campo Florido C", "Campo Florido D",
                                  "Riberas del Sur"],
        "Zona Cordillera Puebla": ["Sierra Cordobesa", "Valles de Orizaba", "Alturas de Puebla",
                                   "Jardines Manuel", "Lomas Santiago", "Alturas de Puebla BIS",
                                   "Llanos Tehuacan", "Bosques Tlaxcala"],
        "Zona Bahia Veracruz": ["Colinas Miron", "Valle Rica", "Puerto Bravo", "Puerta Cuauhtemoc", "Puerto Bravo BIS", "Cumbres Xalapa", "Lomas Xalapa"]
    },

    "Red Nortena": {
        "Division Red Nortena": ["Aceros del Norte", "Aceros del Norte BIS", "Paso Nuevo", "Paso Nuevo BIS",
                                 "Piedras Altas", "Piedras Altas BIS", "Valles del Norte",
                                 "Laguna Norte", "Sabinas Sierra", "Campos Saltillo",
                                 "Centro Saltillo", "Centro Saltillo BIS", "Campos Saltillo BIS", "Rio Bravo", "Paso del Norte"],

        "Zona Sierra Norte": ["Lomas de Alamos", "Lomas de alamos BIS", "Valle Apodaca", "Valle Apodaca BIS", "Puente Lincoln", "Cumbres Regias", "Centro Regio",
                              "Bulevar Regio", "San Nicolas Valle", "San Nicolas Valles BIS", "Sierra Santa"],
        "Zona Red frontera este": ["Bosque Verde", "Palacio del Norte", "Palacio del Norte BIS", "Valle de Guadalupe", "Parque Madero", "Parque Madero BIS", "Expo Regia",
                                   "Desierto Norte", "Desierto Bravo", "Rio Revolucion", "Desierto Norte BIS"],
        "Zona Bahia del Sol": ["Valle Real", "Victoria Alta", "Victoria Alta BIS", "Bahia Aeropuerto",
                               "Plaza Tampico", "Colinas Tampico", "Colinas Tampico BIS", "Rio Madero"]
    },

    "Red Noroeste": {
        "Zona Desierto del Sol": ["Obregon Central", "Obregon Norte", "Obregon Central BIS",
                                  "Sierra Hermosillo", "Hermosillo Norte", "Sierra Hermosillo BIS", "Valle de Navojoa",
                                  "Frontera Nogales"],
        "Zona Valle Dorado": ["Valles de Culiacan", "Culiacan Norte", "Valles de Culiacan BIS", "Sierra Durango",
                              "Durango Norte", "Valle del Rio", "Plaza Mochis", "Plaza Mochis BIS", "Bahia Dorada", "Norte Dorado"],
        "Zona Costa del Pacifico": ["Bahia Azul", "Bahia Azul BIS", "Plaza Pacifico", "Plaza Pacifico BIS",
                                    "Cabo Fuerte", "Valle Mexicali", "Norte Mexicali", "Valle Mexicali BIS", "Frontera Oeste",
                                    "Frontera Bravo", "Frontera Bravo BIS"],
        "Division Sierra del Desierto": ["Sierra Chihuahua", "Campus Sierra", "Victoria Sierra",
                                         "Victoria Sierra BIS", "Plaza Cuauhtemoc", "Juarez Norte", "Jardines del Norte", "Americas Plaza",
                                         "Americas Plaza BIS", "Patio Grande", "Colinas Jilotepec", "Parral Viejo"]
    },

    "Occidente Conexion": {
        "Conexion GDL": ["Guadalajara Uno", "Guadalajara Dos", "Guadalajara Tres"],
        "Zona Corazon de la Sierra": ["Aguas Central", "Aguas Norte", "Aguas Central BIS", "Sierra Colima",
                                      "Rio Fresnillo", "Bahia Manzanillo", "San Luis Norte", "San Luis Alturas", "Cumbres Zacatecas"],
        "Zona Valles Centrales": ["Plaza Celaya", "Hidalgo Valle", "Jardines Irapuato", "Jardines Irapuato BIS",
                                  "Canadas Leon", "Norte Leon", "Canadas Leon BIS"],
        "Zona Tierra de lagos": ["Valle Piedad", "Bahia Lazaro", "Colinas Morelia", "Morelia Norte", "Morelia Norte BIS",
                                 "Camelinas Plaza", "Jardines Uruapan", "Valle Zamora",
                                 "Valle Zamora BIS", "Riviera Zihua", "Montes Zitacuaro"],
        "Zona Cumbres del Pacifico": ["GDL Central", "Norte GDL", "Riviera Vallarta", "Riviera Vallarta BIS",
                                      "Valle Tepic", "Norte Tepic", "Jardines Tlaque", "Montes Tonala"],
        "Zona Valles del Pacifico": ["Guzman Valle", "IMSS GDL", "Oblatos Plaza",
                                     "Las Aguilas", "Zapopan Plaza"]
    },
    "Red Sureste": {
        "Zona Selva Alta": ["Rio Coatzacoalcos", "Valle Comitan", "Selva Tapachula", "Tuxtla Norte", "Tuxtla Central",
                            "Villa Central", "Villa Norte", "Villa Norte BIS", "Villa Alturas"],
        "Zona Sierra Escondida": ["Sierra Oaxaca", "Riviera Escondida", "Bahia Cruz", "Bahia Cruz BIS", "Rio Tuxtepec"],
        "Zona Riviera del Caribe": ["Bahia Campeche", "Riviera Cancun", "Bahia Chetumal", "Isla del Carmen",
                                   "Sierra Merida", "Merida Norte", "Alturas Merida", "Sierra Merida BIS",
                                   "Riviera Playa"],
    },
}

### Split sucursal column, merge branches

In [ ]:
# Step 1: Leave min unit (vendedores)
filtered_df = df[df['sucursal'] != 'Total']
filtered_df = filtered_df[~filtered_df['sucursal'].isin(regions)]
filtered_df = filtered_df[~filtered_df['sucursal'].isin(divisions)]

# Step 2: Combine " BIS" with corresponding non-BIS values
filtered_df['sucursal'] = filtered_df['sucursal'].apply(lambda x: x.replace(' BIS', ''))

# Step 3: Delete row with region but without vendor
# is a 'Vendedor' to check for non-null values
filtered_df = filtered_df[filtered_df['vendedor'].notna()]

<ipython-input-8-56a48e7dba9f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['sucursal'] = filtered_df['sucursal'].apply(lambda x: x.replace(' BIS', ''))

In [ ]:
# Step 4: Add region and division columns
def extract_region_division(location, loc_struct):
  """Extracts region and division from loc_struct based on location.

  Args:
  location: The location name.
  locsStruct: The nested dictionary containing location information.

  Returns:
  A tuple containing region and division, or None if not found.
  """

  for region, divisions in loc_struct.items():
    if isinstance(divisions, dict):
      for division, locations_list in divisions.items():
        if location in locations_list:
          return region, division
    elif location in divisions:
      return region, None

  return None, None

# Apply the function to create new columns
filtered_df['region'], filtered_df['division'] = zip(*filtered_df['sucursal'].apply(extract_region_division, args=(loc_struct,)))
# Insert 'region' as the first column
filtered_df.insert(0, 'region', filtered_df.pop('region'))
# Insert 'division' as the second column
filtered_df.insert(1, 'division', filtered_df.pop('division'))

In [ ]:
x, y = extract_region_division('Riviera Playa', loc_struct)
print(x, y)
print(loc_struct["Red Sureste"]['Zona Selva Alta'][2])

Red Sureste Zona Riviera del Caribe
Selva Tapachula

In [ ]:
# Print the result
print(filtered_df.shape[0])  # Number of rows
filtered_df.to_csv('clean_db.csv', index=False)
# filtered_df.sample(6)

#quitar las sucursales que no se van a utilizar

10048

In [ ]:
# Identifying the columns to sum (those starting with 'si_m_')
si_columns = [col for col in filtered_df.columns if col.startswith('si_m_') or col=='si_act']

#sidf = filtered_df.loc("si_m_12", "si_act")
# Grouping by 'region', 'division', and 'sucursal', summing the 'si_m_' columns, and excluding 'vendedor'
grouped_si = filtered_df.groupby(['sucursal'])[si_columns].sum().reset_index()
grouped_si.to_csv('grouped_si.csv', index=False)

In [ ]:
# Identifying the columns to sum (those starting with 'si_m_')
si_vnc_columns = [col for col in filtered_df.columns if col.startswith('si_vnc_m_') or col=='si_vnc_act']

# Grouping by 'region', 'division', and 'sucursal', summing the 'si_m_' columns, and excluding 'vendedor'
grouped_vnc = filtered_df.groupby(['sucursal'])[si_vnc_columns].sum().reset_index()
grouped_vnc.to_csv('grouped_vnc.csv', index=False)

In [ ]:
# Identifying the columns to sum (those starting with 'si_30_89_m_')
si_30_89_columns = [col for col in filtered_df.columns if col.startswith('si_30_89_m_')or col=='si_30_89_act']

# Grouping by 'region', 'division', and 'sucursal', summing the 'si_30_89_m_' columns, and excluding 'vendedor'
grouped_30_89 = filtered_df.groupby(['sucursal'])[si_30_89_columns].sum().reset_index()
grouped_30_89.to_csv('grouped_30-89.csv', index=False)


# Crear un nuevo DataFrame para almacenar los resultados de la división
mor= pd.DataFrame()
for si_col, si_30_89_col, i in zip(si_columns, si_30_89_columns, range(13, 0, -1)):
    new_column_name = f"mora{i-1}"
    mor[new_column_name] = grouped_30_89[si_30_89_col] / grouped_si[si_col]
mor.rename(columns={f"mora0": "mora_actual"}, inplace=True)
mor.insert(0, 'sucursal', grouped_30_89.pop('sucursal'))
#varianza=grouped_30_89.var()
mor.to_csv('mora_30d89.csv', index=False)

#Crear dataframe para ICV
icv = pd.DataFrame()
for si_col, si_vnc_col, i in zip(si_columns, si_vnc_columns, range(13, 0, -1)):
    new_column_name = f"iv{i-1}"
    icv[new_column_name] = grouped_vnc[si_vnc_col] / grouped_si[si_col]
icv.rename(columns={f"iv0": "iv_actual"}, inplace=True)
icv.insert(0, 'sucursal', grouped_vnc.pop('sucursal'))
#varianza=grouped_30_89.var()
icv.to_csv('icv.csv', index=False)


#Crear dataframe para ICV
imora = pd.DataFrame()
for si_col, si_vnc_col, i in zip(si_columns, si_vnc_columns, range(13, 0, -1)):
    new_column_name = f"iv{i-1}"
    icv[new_column_name] = grouped_vnc[si_vnc_col] / grouped_si[si_col]
imora.rename(columns={f"iv0": "iv_actual"}, inplace=True)
imora.insert(0, 'sucursal', grouped_vnc.pop('sucursal'))
#varianza=grouped_30_89.var()
imora.to_csv('icv.csv', index=False)

### Compute new indicators
The reason for this is to have some stadistics to

Saber la terminologia

Explorar los datos, tamaño de sucursales

Distribucion que siguen las variables con boxplot para medias, medianas, colas bajas o altas

Limpieza para eliminar outliers

Que tanto se alejan los valores de las mediana, ella quitaria sucursales muy chiquitas

Hacer clasificacion de las sucursales

Ver como afecta cada variable en esa clasificacion

Eliminar tal vez algun mes, eliminar 10% de colas bajas para sacarlos del algoritmo pero agregarlos a una clasificacion. Eliminar los vendedores con todo en ceros.

Darle mas sentido a los ultimos 6 meses antes que al año, darle mas peso a lo mas reciente que a lo viejo (proporcionalidad). Darle mas peso a mora 30-89 que a un imora porque si nos puede salvar uno y el otro ya no

El desempeño debe ser la suma ponderada de icv, imora y mora 30-89, con un peso mayor a manor de mora, icv, imora. Deben de haber 5 grupos, ya sea por rangos.

Este domingo entregar posibles

In [ ]:
# Group by 'sucursal' and count the number of 'vendedor' for each
sucursal_vendor_count = filtered_df.groupby('sucursal')['vendedor'].count()

# Filter for sucursals with less than 30 vendors
filtered_sucursals = sucursal_vendor_count[sucursal_vendor_count < 30]

# Sort the results in ascending order
sorted_sucursals = filtered_sucursals.sort_values()

# Convert to a list
sucursal_list = sorted_sucursals.index.tolist()

# Print the result
print(f"Total sucursales: {filtered_df['sucursal'].nunique()}")
print(f"Sucursales with less than 30 vendors ({len(sucursal_list)}):")
for sucursal in sucursal_list:
    print(f"{sucursal}: {sucursal_vendor_count[sucursal]} vendors")
print(f"Quanty of vendors in sucursal with less than 30 vendors: {len(filtered_df[filtered_df['sucursal'].isin(sucursal_list)])}")

Total sucursales: 195
Sucursales with less than 30 vendors (48):
Conexion Magna: 1 vendors
Centro Metropolis: 1 vendors
Guadalajara Tres: 2 vendors
Puerto Magna: 2 vendors
Enlace Regio: 3 vendors
Satelite 1: 4 vendors
Guadalajara Uno: 5 vendors
Guadalajara Dos: 6 vendors
Riberas Texcoco: 6 vendors
Satelite 2: 7 vendors
Satelite 3: 7 vendors
Norte Dorado: 8 vendors
Campo Florido C: 8 vendors
Avance 4: 9 vendors
Avance 2: 9 vendors
Colinas GAM: 10 vendors
Bosques Neza: 10 vendors
Costa Marquesa: 12 vendors
Patio Grande: 13 vendors
Alturas Merida: 13 vendors
Villa Alturas: 13 vendors
Centro Viejo: 16 vendors
Campo Florido D: 16 vendors
Avance 3: 16 vendors
Riberas del Sur: 17 vendors
Colinas Jilotepec: 18 vendors
Parque Jurica: 18 vendors
Campo Florido B: 18 vendors
Cumbre Toluca: 19 vendors
Valle Piedad: 19 vendors
Avance 1: 19 vendors
Hidalgo Valle: 19 vendors
Bulevar Regio: 20 vendors
Guzman Valle: 20 vendors
Bosque Verde: 21 vendors
Sol y Campo: 21 vendors
Valle Tepic: 21 vendors
Bosques Tultitlan: 22 vendors
Sierra Santa: 22 vendors
Montana Azul: 22 vendors
Lomas Zaragoza: 23 vendors
Rio Revolucion: 27 vendors
Campus Sierra: 28 vendors
Jardines del Valle: 29 vendors
Rio Bravo: 29 vendors
Rio Fresnillo: 29 vendors
Bahia Aeropuerto: 29 vendors
Cuautla Vista: 29 vendors
Quanty of vendors in sucursal with less than 30 vendors: 736

In [ ]:
# Obtener promedio, varianza por sucursal y agreugarlo en un nuevo data frame en donde las sucursales sean las filas y los indicadores las columnas
avr = filtered_df.groupby('sucursal').mean()
var = filtered_df.groupby('sucursal').var()
avr.to_csv('avr.csv', index=False)
var.to_csv('var.csv', index=False)  # Save the updated DataFrame to a new CSV file

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
na = filtered_df.isna().sum()
print(na)

test = filtered_df.copy(deep=True)

# Identify duplicates
duplicates = test[test.duplicated(subset=['vendedor'], keep=False)]

# Sort duplicates by 'vendedor' for better readability
duplicates_sorted = duplicates.sort_values('vendedor')

# Create a list of lists with 'vendedor' and 'sucursal' for each duplicate
duplicate_list = duplicates_sorted[['vendedor', 'sucursal']].values.tolist()

print("\nNumber of rows before removing duplicates:", len(test))
print("Number of duplicate rows:", len(duplicates))

# Remove duplicates
test.drop_duplicates(subset=['vendedor'], inplace=True)

print("Number of rows after removing duplicates:", len(test))

# Display the list of duplicates
print("\nList of duplicates (vendedor, sucursal):")
for item in duplicate_list:
    print(item)

# Return the list of duplicates
duplicate_list

In [ ]:
"""
Create a dict for each indicator which is going to store the values per cycle and per vendedor
"""


# Calculate 'Indice de Cartera Vencida' (icv)
filtered_df['icv'] = filtered_df['si_vnc_act'] / filtered_df['si_act']

# Calculate 'Morosidad 30-89 dias'
filtered_df['mora_30_89'] =  filtered_df['si_30_89_act'] / filtered_df['si_act']

# Calculate 'imora'
filtered_df['imora'] = filtered_df['si_vnc_act'] / filtered_df['si_act']

# Insert 'Cartera Vencida' as the fourth column
filtered_df.insert(4, 'icv', filtered_df.pop('icv'))
# Insert 'mora_30_89' as the fifth column
filtered_df.insert(5, 'mora_30_89', filtered_df.pop('mora_30_89'))
# Insert 'imora' as the sixth column
filtered_df.insert(6, 'imora', filtered_df.pop('imora'))

# # Check if columns exist
# print('Saldo Insoluto \n30-89  Actual' in filtered_df.columns)
# print('Saldo Insoluto Actual' in filtered_df.columns)
# print('Saldo Insoluto Vencido Actual' in filtered_df.columns)
# print([col for col in filtered_df.columns])

# Save the updated DataFrame to a new CSV file
filtered_df.to_csv('clean_db_with_venc_moras.csv', index=False)

# filtered_df.sample(3)

# Icv estogram
plt.hist(filtered_df['icv'])
plt.xlabel('Indice de Cartera Vencida')
plt.ylabel('Frequency')
plt.title('Distribution of Indice de Cartera Vencida')
plt.show()

#boxplot Cartera Vencida
plt.boxplot(filtered_df['mora_30_89'])
plt.ylabel('Indice de Cartera Vencida')
plt.title('Boxplot of Indice de Cartera Vencida')
plt.show()
# mora30 estogram
plt.hist(filtered_df['mora_30_89'])
plt.xlabel('Indice de mora 30 89')
plt.ylabel('Frequency')
plt.title('Distribution of mora')
plt.show()

#boxplot mora 30 89
plt.boxplot(filtered_df['mora_30_89'])
plt.ylabel('Indice de mora')
plt.title('Boxplot of mora')
plt.show()
# Imora estogram
plt.hist(filtered_df['imora'])
plt.xlabel('Indice de imora')
plt.ylabel('Frequency')
plt.title('Distribution of emora')
plt.show()

#boxplot of imora
plt.boxplot(filtered_df['imora'])
plt.ylabel('Indice de imora')
plt.title('Boxplot of emora')
plt.show()